/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}
div{
  /*padding: 0px !important;*/
  height: auto !important;
}
.form-control{
  padding: 5px !important;
}
a{
  color:#ffa500 !important;
}
.jumbotron{
    border-radius: 25px;
    border: 1px solid #ffa500;
    background: #FFFFFF;
 /*   padding: 20px !important; */
}
.btn-default:hover {
    color: #FFFFFF !important;
    background-color: #ffa500;
    border-color: #adadad;
}

div.container div.navbar-header a.navbar-brand{
  color: #FFFFFF !important;
}

ul.nav.navbar-nav li a.current{
  color: #000000 !important;
}
ul.nav.navbar-nav li a{
  color: #f2efef !important;
  width: 105px;
}
ul#Sub-Menu{
  list-style-type: none;
  display: none;
  padding: 1px;
  position: absolute;
  -webkit-transition: opacity .1s;
  -o-transition: opacity .1s;
  -moz-transition: opacity .1s;
  -ms-transition: opacity .1s;
  transition: opacity .1s; 
}

ul.navbar-nav > li:hover > ul#Sub-Menu{
  background: #ffc966;
  width: 100px;
  display: block;
  color: #9d9d9d !important;
}
ul.navbar-nav > li:hover > ul#Sub-Menu > li{
 /*    border-style: solid;
    border-width: 1px;  */
    border-bottom: solid 1px #FFFFFF;
    padding: 0px 3px 3px 3px;
}
ul.navbar-nav > li:hover > ul#Sub-Menu:hover{
  background-color: #ffc04c;
}

ul.navbar-nav > li:hover > ul#Sub-Menu li.link a.items.LinkingMode{
  color: #000000 !important;
}
ul.navbar-nav > li:hover > ul#Sub-Menu li.link a.items.LinkingMode:hover{
     text-decoration: none;
   color: #FFFFFF !important;
}

.push-top{
  margin-top: 30px;
}
.push-bottom{
  margin-bottom: 30px;
}
.navbar-inverse {
    background-color: #ffc04c !important;
    border-color: #ffa500;
}
footer{
  color:#ffc966;
}

/*div.scale img { transition: all .2s ease-in-out; }
div.scale img:hover { transform: scale(1.1); }*/
div.list-group{
  background: #F7F9FC;

}
div.sidebar-article, div.sidebar-artist{
  padding: 10px;
}
div.scale{
  background: #F7F9FC;
  padding:10px;
  margin-bottom: 30px;
  border-radius: 10px;

}

div.scale img { 
 
  -webkit-filter: grayscale(100%);
   -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
          width: 100%;
}
div.scale img:hover { 
      -webkit-filter: grayscale(1%);
} 



/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
